<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{hp}}</div>
                <img class="energy icon" src="images/electric.png" alt="icone electric">
            </div>
        </header>
        <figure id="art">
            <img src="images/pikachu.jpg" alt="">
            <figcaption>{{figureCaption}}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="icon energy" src="images/electric.png" alt="icone electric">
                        <img class="icon energy" src="images/electric.png" alt="icone electric">
                    </div>
                    <div class="name">{{attackName}}</div>
                    <div class="damage">{{attackStrength}}</div>
                </div>
            </div>
            <div class="description">{{attackDescription}}</div>
        </div>
    </div>
</div>